{
    "arrowParens": "avoid",
    "useTabs": true,
    "singleQuote": true,
    "tabWidth": 4,
    "semi": false,
    "trailingComma": "none",
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "/routes",
        "middleware",
        "^../(.*)",
        "^./(.*)"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}